<div class="hero-container">
  <h1>Bem-vindo(a) ao meu Portfólio</h1>
  <p>Desenvolvedor Web Full Stack</p>
  <button>Saiba mais</button>
  <button>Currículo</button>

  <div class="socials">
    <a href="https://www.linkedin.com/in/gabriel-voidaleski-0b1b3b1b3/"
      ><img src="assets/images/linkedin.png" width="30"
    /></a>
    <a href="https://www.instagram.com/gabrielvdlzk/"
      ><img src="assets/images/instagram.png" width="30"
    /></a>
  </div>
</div>

<section class="about-section">
  <h2>Sobre Mim</h2>
  <p>
    Meu nome é Gabriel Francelino Voidaleski, tenho 20 anos e sou desenvolvedor
    web full stack.
  </p>
  <p>Sou apaixonado por tecnologia, design e inovação.</p>
</section>

<section class="stack-section">
  <h2>Tech Stack</h2>
  <div class="stack-card">
    <table>
      <tr>
        <td><img src="assets/images/html5.png" width="80" /></td>
        <td><img src="assets/images/css3.png" width="80" /></td>
        <td><img src="assets/images/js.png" width="80" /></td>
        <td><img src="assets/images/node.png" width="80" /></td>
        <td><img src="assets/images/spring.png" width="80" /></td>
        <td><img src="assets/images/angular.png" width="80" /></td>
      </tr>
    </table>
  </div>
</section>

<section class="education-and-experience-section">
  <h2>Educação e Experiência</h2>
  <div class="education-card">
    <h3>Universidade Federal do Estado do Paraná</h3>
    <p>2023 - em curso</p>
    <p>Tecnólogia em Análise e Desenvolvimento de Sistemas</p>
  </div>
  <div class="xp-card">
    <h3>Ministério Público do Estado do Paraná</h3>
    <p>08/2022 - 08/2024</p>
    <p>Estagiário</p>
    <p>
      Desenvolvimento de aplicações de suporte ao setor administrativo e
      implementação de automatizações para otimização de processos. Análise e
      interpretação de dados com foco na criação de gráficos informativos e na
      alimentação eficiente de planilhas.
    </p>
  </div>
</section>

<section class="projects-section">
  <h2>Projetos em Destaque</h2>
  <div class="project-card">
    <h3>Projeto 1</h3>
    <p>Descrição breve do projeto.</p>
  </div>
  <div class="project-card">
    <h3>Projeto 2</h3>
    <p>Descrição breve do projeto.</p>
  </div>
</section>
